aiohttp==3.13.5
async-timeout==3.0.1
asyncpg
colorthief
cycler
py-cord==2.8.0
expr.py
thefuzz[speed]
humanize
inflect
matplotlib
numpy
pillow
psutil
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
requests
selenium==4.39.0
six
topggpy==1.4.0
typing-extensions
urllib3
wincertstore==0.2
yarl
alexflipnote.py
more-itertools
googletrans-py @ git+https://github.com/devargon/googletrans
hyper
emoji
typing
stemming
httpcore
pytz
parsedatetime
owoify-py
bugsnag
amari.py
python-Levenshtein
filetype
stringcase
unidecode
Wand
captcha
bleach
pydantic
pytesseract
openai
chat_exporter
discord-ext-menus @ git+https://github.com/nogra-app/discord-ext-reaction-menus
alexflipnote.py @ git+https://github.com/nogra-app/alexflipnote.py
dpy-http-server @ git+https://github.com/nogra-app/dpy-http-server