aiohttp==3.7.4.post0
async-timeout==3.0.1
asyncpg==0.24.0
colorthief==0.2.1
cycler==0.10.0
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
py-cord==2.0.0b4
alexflipnote.py @ git+https://github.com/argo0n/forked_alexflipnote.py
expr.py==0.3.0
fuzzywuzzy==0.18.0
humanize==3.11.0
inflect==5.3.0
kiwisolver==1.3.2
matplotlib==3.4.3
numpy==1.21.2
olefile==0.46
pillow
psutil==5.8.0
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv==0.19.0
requests
rply==0.7.8
selenium
six
topggpy==1.4.0
typing-extensions
urllib3
wincertstore==0.2
yarl
alexflipnote.py
more-itertools
googletrans==3.1.0a0
hyper
emoji
typing
stemming
httpcore
h2==3.2.0
parsedatetime