aiohttp==3.7.4
async-timeout==3.0.1
asyncpg
colorthief
cycler
py-cord
expr.py
thefuzz[speed]
humanize
inflect
googlesearch-python
matplotlib
numpy
pillow
psutil
pycparser
pyOpenSSL
pyparsing
PySocks
python-dateutil
python-dotenv
requests
selenium
six
topggpy==1.4.0
typing-extensions
urllib3
wincertstore==0.2
yarl
alexflipnote.py
more-itertools
googletrans-py @ git+https://github.com/devargon/googletrans
hyper
emoji
typing
stemming
httpcore==1.0.5
pytz
parsedatetime
owoify-py
bugsnag
amari.py
python-Levenshtein
filetype
stringcase
unidecode
Wand
captcha
bleach
pydantic==1.10.2
pytesseract
openai
chat_exporter @ git+https://github.com/nogra-xyz/DiscordChatExporterPy@2.8.0
discord-ext-menus @ git+https://github.com/nogra-xyz/discord-ext-reaction-menus
alexflipnote.py @ git+https://github.com/nogra-xyz/alexflipnote.py
dpy-http-server @ git+https://github.com/nogra-app/dpy-http-server